* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Images/background.jpg');

    background-size: auto;
    background-repeat: no-repeat;

    background-size: cover;

    font-family: cursive;
    height: 100vh;

   


}




a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 7, 7);
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 25px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #ec7f9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: #ec7f9e;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 10em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #820c68;
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(0, 7, 7);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #ec7f9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #820c68;
    }

}

.btn-info {
    background-color: #ec7f9e;
}

.table {
    background-color: #fff;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

@media(min-width: 900px) {
    button.margin-right {
        margin-right: 20px;
    }

    button.margin-top {
        width: 180px;
        height: 60px;
        margin-top: 510px;
        background-color: #ec7f9e;
        border-radius: 15px;
        padding: 5px 14px;
        font-family: cursive;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    button.margin-left {
        height: 60px;
        margin-left: 510px;
    }

    button.margin-top button:hover {
        background-color: #820c68;

    }

    button.margin-top a {
        color: white;
    }
    button.margin-top:hover {
        background-color: #820c68;
    }

}

button.margin-right {
    margin-right: 20px;
}

button.margin-top {
    width: 180px;
    height: 60px;
    margin-top: 460px;
    margin-bottom: 100px;
    background-color: #ec7f9e;
    border-radius: 15px;
    /* padding: 20px; */
    padding: 5px 14px;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}

button.margin-top a {
    color: white;
}

button.margin-left {
    background-color: #ec7f9e;
    height: 60px;

}

button.margin-top button:hover {
    background-color: #820c68;

}


/* //update drop down responsive
//background image */



